[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
flask-restful = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.7"
